---
const url = new URL(Astro.request.url);
const pathname = url.pathname;

const paths = {
  homePath: '/',
  meetUsPath: '/conocenos/',
  productsPath: '/productos/',
  contactoPath: '/contacto/',
};
---

<header
  class="w-full flex justify-center items-center border-b-sky-400 border-2 py-4 bg-gray-700 font-[Montserrat] text-2xl"
>
  <section class="w-full text-center text-white">Futboludo</section>
</header>
